.vscode/

googletest-subbuild
googletest-populate-prefix

_deps
*CMakeFiles/
*.cmake
*CMakeCache.txt
*Makefile

html_report
libweather_lib.a 
libgmock_main.a
libgmock.a
libgtest_main.a
libgtest.a
app_main
tests_main
run_tests

coverage_cleaned.info
coverage.info